<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>controlers.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MarketPlace</servlet-name>
    <servlet-class>controlers.MarketPlace</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>controlers.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketPlace</servlet-name>
    <url-pattern>/MarketPlace</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>controlers.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>controlers.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/ProductDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controlers.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormModification</servlet-name>
    <servlet-class>controlers.FormModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormModification</servlet-name>
    <url-pattern>/toto</url-pattern>
  </servlet-mapping>

</web-app>
