<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>controlers.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MarketPlace</servlet-name>
    <servlet-class>controlers.MarketPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketPlace</servlet-name>
    <url-pattern>/MarketPlace</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Messagerie</servlet-name>
    <servlet-class>controlers.Messagerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messagerie</servlet-name>
    <url-pattern>/Messagerie</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>controlers.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/ListProducts</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>controlers.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>controlers.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controlers.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormModification</servlet-name>
    <servlet-class>controlers.FormModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormModification</servlet-name>
    <url-pattern>/Profilee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PurchasePage</servlet-name>
    <servlet-class>controlers.PurchasePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasePage</servlet-name>
    <url-pattern>/PurchasePage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PasswordModification</servlet-name>
    <servlet-class>controlers.PasswordModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordModification</servlet-name>
    <url-pattern>/PasswordModification</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>controlers.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>controlers.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>myProduct</servlet-name>
    <servlet-class>controlers.MyProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>myProduct</servlet-name>
    <url-pattern>/mesProduit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Panier</servlet-name>
    <servlet-class>controlers.Panier</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
</web-app>
