html
{
	cursor: url("../../../statique/ble.png"), auto;
}

a, .click, .sous_titre
{
	cursor: url("../../statique/pointer.png") 10 10, auto;
}

body
{
	background-image: url("../../../statique/farm.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: "Liberation Serif", Arial;

	margin-left: 15%;
	margin-right: 15%;
}

header ul, footer
{
	display: flex;

	background-color: #2ecc71;
	box-shadow: 5px 5px 10px #2c3e50;
	padding: 0.2%;
}

footer ul, header ul
{
	list-style-type: none;
}


footer
{
	justify-content: space-between;
	padding-right: 3%;
	margin-bottom: -10%;
	margin-top: 2%;
	font-size: 100%;
	text-shadow: 5px 2px 10px #2c3e50;

}

header ul
{
	justify-content: space-around;
	font-size: 170%;
	font-weight: bold;
}

header li
{
	padding:0.5%;
	text-shadow: 5px 5px 10px #2c3e50;

}

header li:hover
{
	background-color: #27ae60;
}

li a
{
	text-decoration:none;
	color:white;
}

#actif
{
	color:#2980b9;
	text-shadow: 5px 5px 10px #ecf0f1;
}

section
{
	background-color: #f2ce82;
	border: 5px solid #2ecc71;
	padding: 2%;
	opacity: 0.85;
	box-shadow: 5px 5px 10px #2c3e50;
	text-align: justify;
}

section p
{
	font-size: 150%;
}

#centrer
{
	text-align: center;
}

#droite
{
	text-align: right;
}

h1
{
	text-align: center;
	font-size: 600%;
	color:#ecf0f1;
	font-variant: small-caps;
	font-family: "Andalus", Arial;
	margin-bottom: 0;
	margin-top: 0;
	text-shadow: 5px 5px 10px #2c3e50;

}

h2
{
	text-align: center;
	font-size: 400%;
	color: #ecf0f1;
	font-style: italic;
	margin-top: 0;
	text-shadow: 5px 5px 10px #2c3e50;

}

.bas_de_page
{
	font-size: 150%;
}

#intro
{
	background-color: #2ecc71;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	font-size: 100%;
	margin-top: -2.2%;
	margin-right: -2.1%;
	margin-left: -2.1%;
	text-align: center;
	padding: 1%;
	font-size: 170%;
	box-shadow: 5px 5px 10px black;
	color: white;
	text-shadow: 5px 2px 10px #2c3e50;

}

header
{
	position: sticky;
	top: 0;
	z-index:10;
}

#logo
{
	position: absolute;
   	top: 5%;
   	left: 2%;
   	width: 15%;
}

#test1, #test2, #test3, #test4, #test5, #test6, #test7, #test8, #test9
{
	display: block;
	animation-name: anim;
	animation-duration: 2s;
}

@keyframes anim {
	from { opacity:0; } to { opacity:1; }
	from { transform: rotateX(90deg); } to { transform: rotateX(0deg); }
}

.click, .sous_titre
{
	background-color: #e67e22;
	padding: 0.2%;
	padding-left: 1%;
	opacity: 0.8;
	border-radius: 25px;
}

.sous_titre
{
	background-color: #2ecc71;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	font-size: 90%;
	margin-right: 60%;
	margin-left: 2%;
	text-align: center;
	padding: 1%;
	font-size: 130%;
	color: white;
	text-shadow: 5px 2px 10px #2c3e50;
}

section li
{
	font-size: 150%;
}

.dico
{
	font-style: italic;
}

#remerciement
{
	background-color: #e74c3c;
	color: white;
}

.puce
{
	font-style: italic;
	color: #34495e;
}

#dev
{
	width: 30%;
}

#leg
{
	width: 40%;
}





@keyframes cochone{
      from{
        z-index:0;
        bottom: 0;
        transform: rotate(0deg);
      }
      0.5%{
        transform: rotate(-10deg);
      }
      1%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      1.5%{
        transform: rotate(10deg);
      }
      2%{
        transform: rotate(0deg);
        bottom: 0;
      }
      10%{
        bottom: 0;
        transform: rotate(0deg);
      }
      10.5%{
        transform: rotate(-10deg);
      }
      11%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      11.5%{
        transform: rotate(10deg);
      }
      12%{
        transform: rotate(0deg);
        bottom: 0;
      }
      20%{
        bottom: 0;
        transform: rotate(0deg);
      }
      20.5%{
        transform: rotate(-10deg);
      }
      21%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      21.5%{
        transform: rotate(10deg);
      }
      22%{
      transform: rotate(0deg);
        bottom: 0;
      }
      30%{
        bottom: 0;
        transform: rotate(0deg);
      }
      30.5%{
        transform: rotate(-10deg);
      }
      31%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      31.5%{
        transform: rotate(10deg);
      }
      32%{
      transform: rotate(0deg);
        bottom: 0;
      }
      50%{
        bottom: 0;
        transform: rotate(0deg);
      }
      50.5%{
        transform: rotate(-10deg);
      }
      51%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      51.5%{
        transform: rotate(10deg);
      }
      52%{
      transform: rotate(0deg);
        bottom: 0;
      }
      70%{
        bottom: 0;
        transform: rotate(0deg);
      }
      70.5%{
        transform: rotate(-10deg);
      }
      71%{
        bottom: 25px;
        transform: rotate(0deg);
      }
      71.5%{
        transform: rotate(10deg);
      }
      72%{
      transform: rotate(0deg);
        bottom: 0;
      }
      95%{
        left: 85%;
        bottom: 0;
        transform: rotate(0deg);
      }
      96.25%{

        transform: rotate(-30deg);
      }
      97.5%{
        bottom: 100px;
        transform: rotate(0deg);
        z-index: 2;
      }
      100%{
        left: 90%;
        transform: rotate(90deg);
        z-index: 0;
        bottom: 20px;
      }
    }

    .img{
      width: 100px;
      height: 100px;
      position: fixed;
      bottom: 0;
      left: 0;
      opacity: 0.8;
      animation-duration:30s;
      animation-name: cochone;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-fill-mode:forwards;
    }
    .paille{
      position: fixed;
      bottom: 0;
      left: 88%;
      z-index: 0;

    }
